whole_agg_pipeline/Output
whole_agg_pipeline/StraightenedAggregates_projections
whole_agg_pipeline/C1.csv
whole_agg_pipeline/C2.csv
whole_agg_pipeline/FileNames.txt
whole_agg_pipeline/ClusteredC1.csv
whole_agg_pipeline/ClusteredC2.csv
whole_agg_pipeline/CortexRemovedC1.csv
whole_agg_pipeline/CortexRemovedC2.csv
whole_agg_pipeline/MeanCortexDensity.txt
whole_agg_pipeline/sdCortexDensity.txt
whole_agg_pipeline/fitorder.csv
whole_agg_pipeline/fitpoints.csv
whole_agg_pipeline/StraightenedC1.csv
whole_agg_pipeline/StraightenedC2.csv
whole_agg_pipeline/ComponentsC1.csv
whole_agg_pipeline/ComponentsC2.csv
whole_agg_pipeline/CleanedComponentsC1.csv
whole_agg_pipeline/CleanedComponentsC2.csv
whole_agg_pipeline/FitPhase.txt
whole_agg_pipeline/FitPhaseSE.txt
whole_agg_pipeline/FitPitch.txt
whole_agg_pipeline/FitPitchSE.txt
whole_agg_pipeline/FitRadius.txt
whole_agg_pipeline/FitRadiusSE.txt
whole_agg_pipeline/Results.csv
jupyter_notebooks/model_validation/fit.csv
jupyter_notebooks/model_validation/input.csv
jupyter_notebooks/model_validation/params.csv
jupyter_notebooks/model_validation/projections.csv
.DS_Store
jupyter_notebooks/.DS_Store
whole_agg_pipeline/.DS_Store
